.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 2px lightgray;
    transition: all 0.3s;
}

.flexRow:hover {
    box-shadow: 0px 0px 10px lightgray;
}

.population {
    min-width: 200px;
    margin-left: 10px;
    margin-right: 10px;
}

.countries {
    min-width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}